@font-face {
    font-family: 'Ubuntu';
    src: url('/fonts/Ubuntu-Medium.woff2') format('woff2'),
        url('/fonts/Ubuntu-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('/fonts/Ubuntu-Light.woff2') format('woff2'),
        url('/fonts/Ubuntu-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('/fonts/Ubuntu-Bold.woff2') format('woff2'),
        url('/fonts/Ubuntu-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@-webkit-keyframes flare {
  100% {
    transform: translateY(-20px) scale(1.5);
    filter: blur(10px);
    opacity: 0;
  }
}

/*@keyframes flare {
  100% {
    transform: translateY(-20px) scale(1.5);
    filter: blur(10px);
    opacity: 0;
  }
}
@-webkit-keyframes burn {
  0% {
    color: #000000;
    background: #FFFF05;
    box-shadow: 0 0 5px 0 #c8000a, 0 0 5px 0 rgba(230, 30, 10, 0.8), 0 0 5px 0 rgba(230, 230, 10, 0.6);
  }
  100% {
    color: black;
    background: #FFFF05;
    box-shadow: 0 -35px 40px 30px rgba(255, 130, 10, 0), 0 -30px 30px 10px rgba(230, 30, 10, 0), 0 -20px 10px 0 rgba(255, 255, 10, 0);
  }
}
@keyframes burn {
  0% {
    color: #000000;
    background: #FFFF05;
    box-shadow: 0 0 5px 0 #c8000a, 0 0 5px 0 rgba(230, 30, 10, 0.8), 0 0 5px 0 rgba(230, 230, 10, 0.6);
  }
  100% {
    color: black;
    background: #FFFF05;
    box-shadow: 0 -35px 40px 30px rgba(255, 130, 10, 0), 0 -30px 30px 10px rgba(230, 30, 10, 0), 0 -20px 10px 0 rgba(255, 255, 10, 0);
  }
}*/
@keyframes glitch-test {
    0% {
        clip: rect(-3px, 600px, 0px, 0px);
    }
    5.88235% {
        clip: rect(0px, 600px, 0px, 0px);
    }
    11.76471% {
        clip: rect(-3px, 600px, 0px, 0px);
    }
    17.64706% {
        clip: rect(-3px, 600px, 0px, 0px);
    }
    23.52941% {
        clip: rect(100px, 600px, 100px, 0px);
    }
    29.41176% {
        clip: rect(0px, 600px, 600px, 0px);
    }
    35.29412% {
        clip: rect(100px, 600px, 0px, 0px);
    }
    41.17647% {
        clip: rect(0px, 600px, 600px, 0px);
    }
    47.05882% {
        clip: rect(100px, 600px, 0px, 0px);
    }
    52.94118% {
        clip: rect(-3px, 600px, 0px, 0px);
    }
    58.82353% {
        clip: rect(100px, 450px, 100px, 0px);
    }
    64.70588% {
        clip: rect(0px, 450px, 0px, 0px);
    }
    70.58824% {
        clip: rect(100px, 450px, 100px, 0px);
    }
    76.47059% {
        clip: rect(0px, 450px, 0px, 0px);
    }
    82.35294% {
        clip: rect(0px, 450px, 0px, 0px);
    }
    88.23529% {
        clip: rect(0px, 450px, 0px, 0px);
    }
    94.11765% {
        clip: rect(0px, 450px, 0px, 0px);
    }
    100% {
        clip: rect(0px, 450px, 0px, 0px);
    }
}
html, body{
    margin: 0;
    padding: 0;
    font-family:'Ubuntu';
    transition: all .3s;
}
body {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-rendering: optimizeSpeed;
    background-color: #111;
    /*margin-top: 40px;*/
    color: #fff;
    overflow-y: scroll !important;
    box-sizing: border-box;
}
h2 {font-size: 48px;color: #FFFF05;}
p {
    font-size: 20px;
    line-height: 32px;
    font-weight: 400;
}
a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  padding: 20px;
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.75); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {background-color: #fefefe;margin: auto;padding: 20px;border: 1px solid #888;width: 90%;position: relative;top: 50%;transform: translateY(-50%);max-width: 500px;box-sizing: border-box;width: 90%;background: #fff;padding: 15px 30px;-webkit-border-radius: 8px;-moz-border-radius: 8px;-o-border-radius: 8px;-ms-border-radius: 8px;border-radius: 8px;-webkit-box-shadow: 0 0 10px #000;-moz-box-shadow: 0 0 10px #000;-o-box-shadow: 0 0 10px #000;-ms-box-shadow: 0 0 10px #000;box-shadow: 0 0 10px #000;text-align: left;color: #ffff2e;background-color: #000 !important;border: 2px solid #ffff2e;}
.modal-content input[type="text"] {width: 100%;border: none;border-radius: 0px;padding: 10px 10px 10px 20px;box-sizing: border-box;min-height: 45px;font-size: 18px;font-family: 'Ubuntu';color: #000000;border: 1px solid transparent;}
.modal-content input[type="text"]::placeholder {color: #000000;}
.modal-content input[type="text"]:focus {outline: none;border-color: #ffff2e;}
.modal-content .yellow-button {font-family: Ubuntu;font-size: 16px;cursor: pointer;}
/* The Close Button */
.close {position: absolute;top: -12.5px;right: -12.5px;display: block;width: 30px;height: 30px;text-indent: -9999px;background: url(/img/close.png) no-repeat center center;background-size: contain;}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0 30px;
    box-sizing: border-box;
}
.container {width: 100%;margin: 0 auto;max-width: 1320px;padding: 0 20px;box-sizing: border-box;}
#custom-header {position: absolute;top: 0;left: 0;right: 0;padding: 2em 0;z-index: 999;}
#custom-header.sticky-header {position: fixed;width: 100%;background: #111111;padding: 1em 0;box-shadow: 0 3px 15px 0 rgb(0 0 0 / 25%);}
.space-box:after {margin: 8em auto;clear: both;content: '';display: block;}
#header-holder {
    display: flex;
}
#logo-holder {
    display: flex;
    align-items: center;
    cursor: pointer;
}
#menu-header {
    justify-content: flex-end;
    display: flex;
    font-size: 11px;
    flex-wrap: wrap;
    flex-direction: row;
    flex: 1;
    align-items: center;
}
#menu-header > ul > a:nth-child(1), #menu-header > ul > a:nth-child(2) {
    margin-right: 45px;
}
#menu-header > ul {
    margin: 0;
    padding: 0;
}
#menu-header > ul > a {
    line-height: 18px;
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 14px;
}
#menu-header > ul > a.active {color: #FFFF05;}
#menu-header > ul a:nth-child(3), #menu-header > ul > a:nth-child(4), #menu-header > ul > a:nth-child(5), #menu-header > ul > a:nth-child(6), #menu-header > ul > a:nth-child(7), #menu-header > ul > a:nth-child(8) {
    margin-right: 45px;
}
#menu-header > a > img {
    width: 16px;
    width: 16px;
    vertical-align: middle;
}
#menu-header > a.yellow-button {line-height: 60px;display: block;width: 240px;text-align: center;margin: 0 0 0 30px;min-height: 60px;cursor: pointer;text-transform: uppercase;font-size: 14px;}
#menu-header .social-icons {position: fixed;bottom: 10px;left: 10px;z-index: 99;background: transparent;padding: 0px 0px;border-radius: 50px;}
#menu-header .social-icons a {display: block;margin: 0px 0px;padding: 0px;background: #7a1128;width: 40px;height: 40px;text-align: center;line-height: 50px;border-radius: 45px;transition: all .3s;position: relative;}
#menu-header .social-icons a:last-child {line-height: 55px;}
#menu-header .social-icons a span {z-index: -1;position: absolute;top: 15px;line-height: 1;background: #e7e8ea;padding: 5px 10px;color: #111;text-align: left;display: block;border-top-right-radius: 10px;border-bottom-right-radius: 10px;right: 0;width: 0px;opacity: 0;visibility: hidden;text-transform: uppercase;letter-spacing: .5px;transition: all .3s;}
#menu-header .social-icons a:hover span {right: -90px;width: 90px;opacity: 1;visibility: visible;}
#menu-header .social-icons a:not(:last-child) {margin-bottom: 5px;}
#menu-header .social-icons a img {width: 20px;}
#menu-header .social-icons a span {}
#menu-header .social-icons a.discord-icon {background-color: #7289d9;}
#menu-header .social-icons a.twitter-icon {background-color: #1DA1F2;}
#menu-header .social-icons a.instagram-icon {background-color: #E1306C;}
.yellow-button {color: #FFFF05;position: relative;z-index: 0;transition: all .3s;min-width: 240px;width: fit-content;text-align: center;display: block;min-height: 60px;line-height: 60px;text-transform: uppercase;}
.yellow-button:before {content: '';background: url(/img/yellow-border.svg) no-repeat center center;background-size: 100%;display: block;position: absolute;top: 0px;left: 0;right: 0;width: 240px;z-index: -1;height: 60px;}
.yellow-button:after {content: '';background: url(/img/red-border.svg) no-repeat center center;background-size: 100%;display: block;position: absolute;top: 7px;left: 5px;right: 0;width: 240px;z-index: -2;height: 60px;transition: all .3s;}
.yellow-button.dark-bdr:after {background-image: url(/img/dark-red-border.svg);}
/*.yellow-button:hover, .yellow-button:focus {transform: translateY(-5px);}*/
.yellow-button:hover, .yellow-button:focus {
  /*-webkit-animation: burn 1000ms ease-out forwards;
          animation: burn 1000ms ease-out forwards;*/
          color: #111111;

}
.yellow-button:hover::before {
  /*animation: glitch-test 1.5s infinite linear alternate-reverse;*/
  background-color: #ffff05;
    -webkit-mask-image: url(/img/yellow-border-fill.svg);
    mask-image: url(/img/yellow-border-fill.svg);
    -webkit-mask-position: center center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-position: center center;
    mask-repeat: no-repeat;
    mask-size: contain;
}
.yellow-button:hover::after {
  /*animation: glitch-test 2s infinite linear alternate;*/
  top: 0;
    opacity: 0;
}
.scroll-space {display: flex;width: 100%;margin: -92px 0 0px;padding: 0px 0 92px;}
div#glitch-banner {padding-top: 0em;overflow: hidden;position: relative;z-index: 0;height: 100%;max-height: 105vh;padding: 0;}
div#glitch-banner:after {content: '';background: url(/img/glitch-overlay-bg.svg) no-repeat bottom center;background-size: 100%;display: block;position: absolute;top: 0px;left: 0;right: 0;width: 100%;z-index: 0;height: 100%;} 
div#glitch-banner canvas#canvas-webgl {height: 130vh !important;}
div#glitch-banner .banner-caption {position: absolute;top: 30%;left: 0;transform: translateY(-30%);left: 0;right: 0;margin: 0 auto;z-index: 1;}
div#glitch-banner .banner-caption h1 {font-size: 42px;color: #FFFF05;}
div#glitch-banner .banner-caption h2 {font-size: 28px;color: #FFFF05;}
div#glitch-banner .banner-caption .button-box {display: flex;flex-wrap: wrap;align-items: center;justify-content: space-between;text-align: center;max-width: 600px;width: 100%;margin: 3em auto 0 0;}
div#glitch-banner .banner-caption .button-box .yellow-button {width: 100%;max-width: 240px;}
div#glitch-banner video {height: 100%;}
div#content-area {background: #7a1128;}
div#content-area h2 {font-size: 48px;color: #FFFF05;}
div#content-area .yellow-button {margin: 3.5em 0 0;}
#what-container {font-size: 15px;font-weight: 300;display: flex;flex-direction: row;justify-content: space-between;color: #FEFF2E;margin: 70px 0;}
.what-block {display: flex;align-items: center;flex-direction: column;justify-content: center;}
.what-block img {max-width: 400px;width: 100%;}
.what-block .line1 {font-size: 25px;font-weight: bold;width: 100%;margin-top: 10px;}
.what-block .line2 {color: #fff;font-size: 13px;margin-top: 10px;width: 100%;}
#countdown-area {position: relative;z-index: 0;padding-bottom: 15em;}
#countdown-area:after {content: '';background: url(/img/content-overlag-bg.svg) no-repeat top center;background-size: 100%;display: block;position: absolute;top: 0px;left: 0;right: 0;width: 100%;z-index: 0;height: 100%;} 
#countdown-area .flex-box {width: 100%;display: flex;flex-wrap: wrap;flex-direction: row;justify-content: center;align-items: flex-end;position: relative;z-index: 1;}
#countdown-area .flex-box .img-container {width: 60%;}
#countdown-area .flex-box .img-container img {width: 100%;}
#countdown-area .flex-box .content-container {width: 50%;margin: 0 0 -10em -10em;}
#countdown-area .flex-box .content-container h2 {font-size: 48px;color: #FFFF05;}
#countdown-area .countdown-box {display: flex;flex-wrap: wrap;flex-direction: row;justify-content: space-between;align-items: center;}
#countdown-area .countdown-box .countdown ul {padding: 0;margin: 0;list-style-type: none;display: flex;flex-wrap: wrap;flex-direction: row;justify-content: flex-end;align-items: flex-start;}
#countdown-area .countdown-box .countdown ul li {font-size: 14px;color: #7A1128;font-weight: 600;text-align: center;text-transform: capitalize;}
#countdown-area .countdown-box .countdown ul li span {font-size: 60px;display: block;}
#countdown-area .countdown-box .countdown ul li:not(:last-child) span:after {content: ':';}

/*-------------------------
ROADMAP CSS OPEN
-------------------------*/
#roadmap{
    display: flex;
    margin: 70px 0 0 0;
}

.roadmap-left, .roadmap-right{
    flex-direction: column;
}

.roadmap-right{
    margin-top: 225px;
}

.roadmap-point > .border-top{
    position: absolute;
    border-top: 6px solid #fff;
    width: 66%;
}

#roadmap > div.roadmap-right > .roadmap-point > div:nth-child(3){
    position: absolute;
    right: 0;
    width: 60%;
    top: 100px;
}

#roadmap > div.roadmap-left > .roadmap-point > div:nth-child(3){
    position: absolute;
    width: 80%;
    top: 100px;
    left: 30px;
}

.roadmap-point{
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 450px;
    height: 600px;
    position: relative;
    box-sizing: border-box;
}

.roadmap-left .roadmap-point h3{
    position: absolute;
    left: 0;
    top: 30px;
    font-size: 25px;
    color: #FEFF2E;
    font-weight: normal;
}

.roadmap-right .roadmap-point h3{
    position: absolute;
    right: 10%;
    top: 30px;
    font-size: 25px;
    color: #FEFF2E;
    font-weight: normal;
}

.roadmap-left .roadmap-point{
    border-right: 6px solid #fff;
    align-items: flex-end;
}

.roadmap-left .roadmap-point .border-top > div{
    width:46px; height:46px;background-color:#FEFF2E;top: -25px;position: absolute;
}
.roadmap-point div > img {width: 100%;max-width: 160px;}
.roadmap-right .roadmap-point .border-top > div{
    width:46px; height:46px;background-color:#FEFF2E;position: absolute;right: -23px;
    top: -25px;
}

.roadmap-left .roadmap-point:last-child{
    height: 231px;max-height: 231px;min-height: 100px;
}

.roadmap-right .roadmap-point{
    align-items: flex-start;
}

.roadmap-right .roadmap-point:last-child{
    border-left: none;min-height: 300px;height: 300px;
}
/*------------------------
ROADMAP CSS CLOSE
------------------------*/

.team-holder {display: flex;flex-wrap: wrap;vertical-align: top;/*padding-left: 30px;*/justify-content: space-between;}
.team-member {font-size: 17px;margin: 0 50px 60px 0;position: relative;display: flex;flex-direction: column;flex-basis: 20%;}
.team-member .photo {margin-bottom: 15px;position: relative;display: flex;justify-content: center;align-items: center;}
.team-member .photo .photo-holder {text-align: center;bottom: 0;width: 100%;overflow: hidden;border-radius: 20px;}
.team-member .photo .photo-holder img {vertical-align: bottom;width: 100%;height: auto;}
.team-member .photo:hover .photo-holder img {filter: blur(3px);}
.team-member .line2 {display: none;position: absolute;width: 100%;height: 100%;top: 0;left: 0;background-color: #00000082;color: #fff;font-size: 12px;max-width: 100%;max-height: 100%;padding: 15px;box-sizing: border-box;border-radius: 20px;}
.team-member .line2 > * {padding: 0 5px;font-size: 14px;line-height: 18px;}
.team-member > .name, .team-member > .line1, .team-member > .line2 {text-align: center;}
#join-family .countdown ul {padding: 0;margin: 0;list-style-type: none;display: flex;flex-wrap: wrap;flex-direction: row;justify-content: flex-start;align-items: flex-start;}
#join-family .countdown ul li {font-size: 30px;color: #ffffff;font-weight: 600;text-align: left;text-transform: capitalize;}
#join-family .countdown ul li span {font-size: 176px;display: block;}
#join-family .countdown ul li:not(:last-child) span:after {content: ':';}
#join-family .button-box {display: flex;flex-wrap: wrap;align-items: center;justify-content: space-between;text-align: center;max-width: 820px;width: 100%;margin: 3em auto 0 0;}
/*#featured-in ul {padding: 0;margin: 0;list-style-type: none;display: flex;flex-wrap: wrap;flex-direction: row;justify-content: flex-start;align-items: center;}
#featured-in ul li {width: 28%;margin: 0 5.3% 25px 0;}
#featured-in ul li img {width: 100%;height: 100%;max-height: 200px;object-fit: contain;}*/
#featured-in .center .slick-list .slick-track {display: flex;align-items: center;}
#featured-in .center .slick-list .slick-slide {text-align: center;padding: 0px 10px;}
#featured-in .center .slick-list .slick-slide img {width: 100%;height: 100%;max-width: 350px;object-fit: contain;margin: 0 auto;}
#featured-in .center .slick-dots li.slick-active button:before {color: #7a1128;}
#featured-in p {font-weight: 100;}
#footer {background: url(/img/footer-bg.svg) no-repeat bottom center;background-size: contain;padding-top: 4.3em;padding-bottom: 4.3em;}
#footer ul {padding: 0;margin: 0 auto;list-style-type: none;display: flex;flex-wrap: wrap;flex-direction: row;justify-content: space-between;align-items: center;max-width: 95%;}
#footer ul li {display: flex;flex-wrap: wrap;flex-direction: row;justify-content: space-between;align-items: center;}
#footer ul li a:not(.white-button) {font-size: 12px;}
#footer ul li:first-child p, #footer ul li:first-child a {margin-right: 3em;}
#footer ul li .social-icons {display: flex;flex-wrap: wrap;flex-direction: row;justify-content: space-between;align-items: center;}
#footer ul li .social-icons a {margin-left: 3em;}
#footer ul li .social-icons a img {width: 35px;}
.white-button {color: #FFFFFF;position: relative;z-index: 0;transition: all .3s;min-width: 240px;width: fit-content;text-align: center;display: block;min-height: 60px;line-height: 60px;}
.white-button:before {content: '';background: url(/img/white-border.svg) no-repeat center center;background-size: 100%;display: block;position: absolute;top: 0px;left: 0;right: 0;width: 240px;z-index: -1;height: 60px;}
.white-button:after {content: '';background: url(/img/black-border.svg) no-repeat center center;background-size: 100%;display: block;position: absolute;top: 7px;left: 5px;right: 0;width: 240px;z-index: -2;height: 60px;transition: all .3s;}
.white-button:hover, .white-button:focus {
  /*-webkit-animation: burn 1000ms ease-out forwards;
          animation: burn 1000ms ease-out forwards;*/
          color: #111111;
}
.white-button:hover::before {
  /*animation: glitch-test 2s infinite linear alternate;*/
  background-color: #ffffff;
    -webkit-mask-image: url(/img/white-border-fill.svg);
    mask-image: url(/img/white-border-fill.svg);
    -webkit-mask-position: center center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-position: center center;
    mask-repeat: no-repeat;
    mask-size: contain;
}
.white-button:hover::after {
  /*animation: glitch-test 2s infinite linear alternate;*/
  top: 0;
  opacity: 0;
}
.slicknav_menu {
    display: none;
    order: 6;
}
#header-holder .slicknav_menu .slicknav_btn span.slicknav_menutxt {display: none;}
.slicknav_menu .slicknav_icon {width: 35px;height: 35px;margin: 0;}
.slicknav_menu .slicknav_icon:before {background: transparent;width: 35px;height: 35px;display: block;content: "";position: absolute;right: 0;top: 0;}
.slicknav_menu .slicknav_icon-bar {background-color: #fff;}
.slicknav_menu .slicknav_icon-bar {display: block;width: 35px;height: 3px;-webkit-border-radius: 1px;-moz-border-radius: 1px;border-radius: 1px;-webkit-box-shadow: 0 1px 0 rgb(0 0 0 / 25%);-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);box-shadow: 0 1px 0 rgb(0 0 0 / 25%);}
.slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar {margin-top: 7px;}
#header-holder .slicknav_menu .slicknav_btn.slicknav_open span.slicknav_icon-bar:first-child {display: none;}
#header-holder .slicknav_menu .slicknav_btn.slicknav_open span.slicknav_icon-bar:nth-child(2) {transform: rotate(45deg) translate(5px, 5px);}
#header-holder .slicknav_menu .slicknav_btn.slicknav_open span.slicknav_icon-bar:last-child {transform: rotate(-45deg);}
/*-----------------------------------------
Media Query
-----------------------------------------*/

@media screen and (min-width: 1600px) {
div#glitch-banner video {width: 100%;}
}
@media screen and (max-width: 1280px) {
.team-holder {justify-content: flex-start;}
.team-member {flex-basis: 28%;margin: 0 1% 60px;}
}
@media screen and (max-width: 767px) {
#featured-in .center .slick-list .slick-track {display: block;}
}
@media screen and (max-width: 991px) {
#header-holder .slicknav_menu {display: block;margin: 0 0 0 auto;}
#header-holder #menu-header {display: none;}
#header-holder .slicknav_menu .slicknav_btn {position: relative;z-index: 999;display: block;top: 5px;}
#header-holder .slicknav_menu .slicknav_btn.slicknav_open {position: fixed;right: 20px;top: 35px;}
.sticky-header #header-holder .slicknav_menu .slicknav_btn.slicknav_open {top: 15px;}
#header-holder .slicknav_menu .slicknav_nav.slicknav_hidden {right: -100%;}
#header-holder .slicknav_menu .slicknav_nav {display: flex;flex-wrap: wrap;align-items: center;justify-content: flex-start;position: fixed;right: 0;top: 0;background: #7a1128;width: 100%;height: 100vh !important;padding: 80px 20px 20px 20px;z-index: 99;transition: all .3s;}
#header-holder .slicknav_menu .slicknav_nav ul {width: 100%;height: 100%;max-height: 400px;display: flex;flex-wrap: wrap;padding: 0;}
#header-holder .slicknav_menu .slicknav_nav ul > a {display: block;width: 100%;margin: 0 auto 20px;text-align: center;font-size: 2.5rem;}
#header-holder .slicknav_menu .slicknav_nav > a.yellow-button {margin: 0 auto;}
#header-holder .slicknav_menu .slicknav_nav > a.yellow-button:after {background-image: url(/img/dark-red-border.svg);}
#header-holder .slicknav_menu .slicknav_nav .social-icons {display: flex;flex-wrap: wrap;align-items: center;justify-content: center;order: 12;width: 100%;border-top: 1px solid #660b1f;padding: 20px 0 0;margin: 20px auto 0;}
#header-holder .slicknav_menu .slicknav_nav .social-icons:before {content: 'Follow us On:'; font-size: 14px;}
#header-holder .slicknav_menu .slicknav_nav .social-icons a {margin: 0 20px;text-align: center;}
#header-holder .slicknav_menu .slicknav_nav .social-icons a span {display: block;font-size: 12px;margin: 5px auto 0;font-weight: 600;}
#header-holder .slicknav_menu .slicknav_nav .social-icons img {max-width: 35px;width: 100%;}
#countdown-area .flex-box .content-container {width: 100%;margin: 0 auto;}
.team-member {flex-basis: 48%;margin: 0 1% 60px;}
#join-family .button-box {display: block;}
#join-family .button-box .yellow-button {margin-bottom: 30px;}
#countdown-area {padding-bottom: 3em;}
#join-family .countdown ul li {font-size: 16px;}
#join-family .countdown ul li span {font-size: 68px;}
.space-box:after {margin: 4em auto;}
footer .space-box:after {margin: 1em auto;}
#footer {padding-top: 2em;background-color: #7a1128;padding-bottom: 2em;}
#footer ul {justify-content: center;max-width: 100%;}
#footer ul li:first-child p {font-size: 12px;}
}
@media screen and (max-width: 767px) {
div#content-area h2, #countdown-area .flex-box .content-container h2, h2 {font-size: 34px;}
#countdown-area .flex-box .img-container {width: 100%;}
.team-member {max-width: 400px;flex-basis: 100%;margin: 0 auto 60px;}
#what-container {flex-wrap: wrap;}
.what-block {width: 100%;}
.what-block .image-block {width: 100%;}
.what-block img {max-width: 100%;width: 100%;}
div#glitch-banner {height: 100%;max-height: 80vh;}
div#glitch-banner .banner-caption h1 {font-size: 36px;}
div#glitch-banner .banner-caption .button-box {max-width: 350px;}
div#glitch-banner .banner-caption .button-box .yellow-button {max-width: 160px;}
.yellow-button, .white-button {min-width: 160px;min-height: 40px;line-height: 40px;}
.yellow-button:before, .yellow-button:after, .white-button:before, .white-button:after {width: 160px;height: 40px;}
p {font-size: 16px;line-height: 28px;}
.space-box:after {margin: 4em auto;}
footer .space-box:after {margin: 1em auto;}
#footer {padding-top: 0;background-color: #7a1128;padding-bottom: 2em;}
#countdown-area .countdown-box .countdown {width: 100%;}
#countdown-area .countdown-box .countdown ul {justify-content: flex-start;margin: 2em 0 0 0;}
#countdown-area .countdown-box .countdown ul li span {font-size: 42px;}
#footer {padding-top: 0em;}
#footer .container {padding: 0px 0px;}
#featured-in .center .slick-list .slick-slide {padding: 0 20px;}
}
@media screen and (max-width: 480px) {
.container {padding: 0;}
#glitch-banner .container, #custom-header .container {padding: 0px 30px;}
div#glitch-banner {height: 100%;max-height: 120vh;}
div#content-area h2, #countdown-area .flex-box .content-container h2, h2 {font-size: 28px;}
#join-family .countdown ul li, #countdown-area .countdown-box .countdown ul li {font-size: 14px;font-weight: 400;}
#join-family .countdown ul li span {font-size: 42px;}
#join-family .countdown ul li:not(:last-child) span:after, #countdown-area .countdown-box .countdown ul li:not(:last-child) span:after {margin: 0 5px;}
#footer {padding-bottom: 0;}
#footer ul li {justify-content: center;margin-bottom: 1em;}
#footer ul li:first-child p, #footer ul li:first-child a {margin-right: 15px;}
#footer ul li .social-icons {width: 100%;max-width: 180px;margin: 2em auto 0;}
#footer ul li .social-icons a {margin: 0 auto;}
#footer ul li .social-icons a img {width: 20px;}
div#glitch-banner .banner-caption {top: 50%;transform: translateY(-50%);}
.roadmap-point > .border-top {width: 100%;}
.roadmap-left .roadmap-point .border-top > div {width: 36px;height: 36px;top: -20px;}
.roadmap-right .roadmap-point .border-top > div {right: 0;width: 36px;height: 36px;top: -20px;}
.roadmap-left .roadmap-point h3, .roadmap-right .roadmap-point h3 {font-size: 20px;}
#roadmap > div.roadmap-left > .roadmap-point > div:nth-child(3) {width: 90%;left: 0;}
#roadmap > div.roadmap-right > .roadmap-point > div:nth-child(3) {width: 90%;}
#featured-in .center .slick-list .slick-slide {padding: 0px 0px;}
}
@media screen and (max-width: 375px) {
#header-holder .slicknav_menu .slicknav_nav .social-icons img {max-width: 30px;}
div#glitch-banner .banner-caption h1 {font-size: 28px;}
div#glitch-banner .banner-caption .button-box .yellow-button:last-child {margin: 2em 0 0 0;}
.roadmap-point {height: 100vh;}
.roadmap-left .roadmap-point h3, .roadmap-right .roadmap-point h3 {font-size: 16px;}
#header-holder .slicknav_menu .slicknav_nav {padding:  80px 10px 20px 10px;}
#header-holder .slicknav_menu .slicknav_nav .social-icons a {margin: 0 10px;}
#header-holder .slicknav_menu .slicknav_nav {padding: 60px 10px 20px 10px;}
#header-holder .slicknav_menu .slicknav_nav ul {max-height: 280px;}
#header-holder .slicknav_menu .slicknav_nav ul > a {font-size: 1.5rem;}
.modal-content {padding: 10px 20px;}
.modal-content > p {font-size: 26px !important;text-align: left !important;}
}
@media screen and (max-width: 320px) {
#header-holder .slicknav_menu .slicknav_nav .social-icons img {max-width: 20px;}
div#glitch-banner .banner-caption h1 {margin-top: 50px;font-size: 23px;}
div#glitch-banner .banner-caption h2 {font-size: 18px;}
div#glitch-banner .banner-caption .button-box {margin-top: 1em;}
#countdown-area .countdown-box .countdown ul li span {font-size: 38px;}
.roadmap-point {height: 150vh;}
}